.about {
    background: linear-gradient(#000000, #000000);

    padding-left: 237px;
    padding-right: 236px;
    padding-top: 121px;
    padding-bottom: 137px;
    
    &__row {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__col {
        flex-grow: 1;
        flex-shrink: 1;
        width: 33.33%;
    
    }

    &__card{
        max-width: 287px;
        margin: 0 auto;
    }

   

    &__img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

        &-box {
            display: block;
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
        } 
    }
    
    &__body{
        &-text {
            margin: 0 auto;
            font-size: 16px;
            font-weight: bold;
            line-height: 25px;
            max-width: 262px;
        }
        &-box {
            padding-top: 40px;
            text-align: center;
        }
    }
    

    &__row {
        margin-bottom: 60px;
    }

    &__btn-delivery {
        text-align: center;
    }
}
