* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Noto', Arial, Helvetica, sans-serif;
    min-width: 375px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#FFFFFF;
    transition: .3s;
}

svg {
    width: 20px;
    height: 20px;
}

.wrapper {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1634px;
    padding: 0 10px;
}

.footer, .delivery, .images, .menu {
    background-color: black;
}