
.box-head  {
    padding-top: 121px;
    padding-bottom: 60px;

    &__title {
        max-width: 517px;
        font-weight: 900;
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 25px;
        text-align: center;
        margin: 0 auto;
    }

    &__caption {
        max-width: 632px;
        text-align: center;
        margin: 0 auto;
    }
}

