
.box-head  {
    text-align: center;

    &__title {
        max-width: 517px;
        font-weight: 900;
        font-size: 48px;
        line-height: 70px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__caption {
        max-width: 632px;
        margin: 0 auto; 
        line-height: 22px;
    }
}

