.btn {
    display: inline-block;
    background-color: #B82121;
    color: #fff;
    
    border: 1px solid #B82121;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;

    &--lg {
        padding: 19px 48px;
    }

    &--sm {
        padding: 19px 35px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        border-color: #B82121;   
    }
}