.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;

    &__link {
        
        &:hover {
            transform: scale(1.2);
            color:#b82121;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__tel {
            display: flex;
            flex-direction: row;
            margin-right: 22px;
            align-items: center;
            margin-right: 6px;
    }

    &__social {
        display: flex;
        margin-right: 99px;

       

        &-tel-number:hover {
            color:#b82121;
        }

        &-svg {
            margin-right: 15px;
            max-height: 20px;
            max-width: 20px;

            &-link-tel {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            

            &:last-child{
                margin-right: 0px;
            }

            &-link {
                & svg {
                    transition: all .03s;
                    transform-origin: 50% 50%;
                    max-height: 20px;
                    max-width: 20px;
                }

                &:hover{
                    transform: none;
                }
            }

           

            &:hover {
                transform: scale(1.2);
            }
        }

        &-networks {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__item {
        margin-right: 60px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__btn-menu {
        display: none;
    }

    &__logo-img {
        object-fit: cover;
        max-width: 133px;
        max-height: 66px;
    }
}
