.hero {
    min-height: 100vh;
    background-image: url('../img/backimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0 97px;
    }

    &__content {
        flex-grow:1;
        padding: 75px 0; 
        display: flex;
        align-items: center;
    }

    &__caption {
        font-family: 'Noto', Arial, Helvetica, sans-serif;
        max-width: 607px;
        font-weight: 900;
        font-size: 55px;
        line-height: 70px;
        margin-bottom: 25px;

        &-red {
            color: #b82121;
        }
    }

    &__desc {
        max-width:501px;
        line-height: 22px;
        margin-bottom: 35px;
    }
}