@media (max-width:1474px) {
    .header__social-tel-number {
        display: none;
    }

    .about__col:nth-child(3) {
        margin-top: 30px;
    }
}

@media (max-width:1310px){

    .header__line {

        &:nth-child(1) {
            top:0;
        }

        &:nth-child(2) {
            top:9px;
        }

        &:nth-child(3) {
            top:18px;
        }

    }

    .header__social {
        margin-right: 30px;
        flex-shrink:0;

        &-img {
            margin-right: 20px;
        }

    }

    .header__btn-menu {
        flex-shrink:0;

        &--open .header__line:nth-child(2) {
            display: none;
        }

        &--open .header__line:nth-child(3) {
            transform: rotate(-45deg);
            top: 9px;
        }

        &--open .header__line:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
        }
    }

    .hero__wrap { 
        margin-left: 0px;
        margin-right: 3px;
    }

}

@media (max-width:1250px){

    .about  {
        padding-left: 10px;
        padding-right: 10px;

        &__row {
            flex-direction: column;
        }

        &__col {

            &:nth-child(3) {
                width: 50%;
                margin-right: 0px;
            }

            &:first-child {
                width: 50%;
                margin-bottom: 30px;
                margin-right: 0px;
            }

            &:nth-child(2) {
                width: 50%;
                margin-right: 0px;
            }
        }
    }
} 

@media (max-width:1023px) {

    .header {

        &__social {
            margin-left: auto;
        }

        &__nav {
            display: none;

            &--open {
                display: block;
                position: absolute;
                right: -55px;
                top: 100px;
                background-color: black;
                border-radius: 10px;
            }
        }

        &__item {
            display: block;
            padding-left: 15px;
        }

        &__list {
            flex-direction: column;
        }

        &__btn-menu {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
        }

        &__line {
            width:100%;
            height: 2.5px;
            background-color: #fff;
            position: absolute;
            border-radius: 5px;
            left: 0;
        }

    }
}

@media (max-width:768px) {

    .hero {
        &__content {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
        }

        &__desc {
            line-height: 22px;
            max-width: 345px;
            text-align: center;
        }

       &__box {
            display: flex;
            align-items: center;
            flex-direction: column;
       }
    }

    .box-head {
        padding-top: 50px;
 
        &__title {
             font-size: 28px;
        }   
   
     }

}

@media (max-width:410px) {

    .header {

        &__social {
            margin-left: 0px;

            &-img {
                margin-right: 15px;
            }

            &-svg {
                margin-left: 0px;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        &__logo {
            margin-right: 59px;

            &-img {
                max-width: 111px;
                max-height: 56px;
            }
        }

    }

    .hero {

        &__caption {
            font-size: 32px;
            line-height: 40px;
            font-weight: 900;
        }

        &__desc {
            line-height: 22px;
            max-width: 355px;
        }

    }


    .about {
        padding-left: 10px;
        padding-right: 10px;

        &__col {
            padding-bottom: 30px;
            margin-right: 0px;

            &:first-child, &:nth-child(2) {
                margin-right: 0px;
            }
        }

        &__btn-delivery {
            display: none;
        }
    }

    
    .box-head__title {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 30px;
    }

}

