@font-face {
  font-family: "Noto";
  src: url("../fonts/Notosansdisplayregular.woff2") format("woff2"), url("../fonts/Notosansdisplayregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto";
  src: url("../fonts/Notosansdisplayblack.woff2") format("woff2"), url("../fonts/Notosansdisplayblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Noto", Arial, Helvetica, sans-serif;
  min-width: 375px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s;
}

svg {
  width: 20px;
  height: 20px;
}

.wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1634px;
  padding: 0 10px;
}

.footer, .delivery, .images, .menu {
  background-color: black;
}

.btn {
  display: inline-block;
  background-color: #B82121;
  color: #fff;
  border: 1px solid #B82121;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
}
.btn--lg {
  padding: 19px 48px;
}
.btn--sm {
  padding: 19px 35px;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: #B82121;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}
.header__link:hover {
  transform: scale(1.2);
  color: #b82121;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__tel {
  display: flex;
  flex-direction: row;
  margin-right: 22px;
  align-items: center;
  margin-right: 6px;
}
.header__social {
  display: flex;
  margin-right: 99px;
}
.header__social-tel-number:hover {
  color: #b82121;
}
.header__social-svg {
  margin-right: 15px;
  max-height: 20px;
  max-width: 20px;
}
.header__social-svg-link-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social-svg:last-child {
  margin-right: 0px;
}
.header__social-svg-link svg {
  transition: all 0.03s;
  transform-origin: 50% 50%;
  max-height: 20px;
  max-width: 20px;
}
.header__social-svg-link:hover {
  transform: none;
}
.header__social-svg:hover {
  transform: scale(1.2);
}
.header__social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  margin-right: 60px;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__btn-menu {
  display: none;
}
.header__logo-img {
  object-fit: cover;
  max-width: 133px;
  max-height: 66px;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/backimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 97px;
}
.hero__content {
  flex-grow: 1;
  padding: 75px 0;
  display: flex;
  align-items: center;
}
.hero__caption {
  font-family: "Noto", Arial, Helvetica, sans-serif;
  max-width: 607px;
  font-weight: 900;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 25px;
}
.hero__caption-red {
  color: #b82121;
}
.hero__desc {
  max-width: 501px;
  line-height: 22px;
  margin-bottom: 35px;
}

.box-head {
  text-align: center;
}
.box-head__title {
  max-width: 517px;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.box-head__caption {
  max-width: 632px;
  margin: 0 auto;
  line-height: 22px;
  padding-bottom: 60px;
}

.about {
  background: linear-gradient(#000000, #000000);
  padding-left: 237px;
  padding-right: 236px;
  padding-top: 121px;
  padding-bottom: 137px;
}
.about__row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__col {
  flex-grow: 1;
  flex-shrink: 1;
  width: 33.33%;
}
.about__card {
  max-width: 287px;
  margin: 0 auto;
}
.about__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about__img-box {
  display: block;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.about__body-text {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  max-width: 262px;
}
.about__body-box {
  padding-top: 40px;
  text-align: center;
}
.about__row {
  margin-bottom: 60px;
}
.about__btn-delivery {
  text-align: center;
}

@media (max-width: 1474px) {
  .header__social-tel-number {
    display: none;
  }
}
@media (max-width: 1400px) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__text-tel {
    display: block;
  }
}
@media (max-width: 1310px) {
  .header__line:nth-child(1) {
    top: 0;
  }
  .header__line:nth-child(2) {
    top: 9px;
  }
  .header__line:nth-child(3) {
    top: 18px;
  }

  .header__social {
    margin-right: 30px;
    flex-shrink: 0;
  }
  .header__tel {
    margin-right: 20px;
  }

  .header__btn-menu {
    flex-shrink: 0;
  }
  .header__btn-menu--open .header__line:nth-child(2) {
    display: none;
  }
  .header__btn-menu--open .header__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__btn-menu--open .header__line:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  .hero__wrap {
    margin-left: 0px;
    margin-right: 3px;
  }
}
@media (max-width: 1023px) {
  .header__social {
    margin-left: auto;
  }
  .header__nav {
    display: none;
  }
  .header__nav--open {
    display: block;
    position: absolute;
    right: -55px;
    top: 100px;
    background-color: black;
    border-radius: 10px;
  }
  .header__item {
    display: block;
    padding-left: 15px;
  }
  .header__list {
    flex-direction: column;
  }
  .header__btn-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header__line {
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    left: 0;
  }

  .about__col {
    width: 50%;
  }
  .about__col:last-child {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero__desc {
    line-height: 22px;
    text-align: center;
  }
  .hero__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box-head {
    padding-top: 50px;
  }
  .box-head__title {
    font-size: 28px;
    margin-bottom: 0px;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .about__row {
    margin-bottom: 0px;
  }
  .about__col {
    width: 100%;
    margin-bottom: 30px;
  }
  .about__col:last-child {
    margin-top: 0px;
  }

  .box-head {
    padding-top: 10px;
  }
}
@media (max-width: 410px) {
  .header {
    padding-bottom: 65px;
  }
  .header__social {
    margin-left: 0px;
  }
  .header__social-svg {
    margin-left: 0px;
    margin-right: 15px;
  }
  .header__social-svg:last-child {
    margin-right: 0px;
  }
  .header__tel {
    margin-right: 15px;
  }
  .header__logo {
    margin-right: 59px;
  }
  .header__logo-img {
    max-width: 111px;
    max-height: 56px;
  }

  .hero {
    min-height: initial;
  }
  .hero__caption {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .hero__desc {
    line-height: 22px;
    max-width: 355px;
    margin-bottom: 30px;
  }
  .hero__content {
    flex-grow: 0;
    padding-bottom: 150px;
    margin-bottom: 0px;
  }
  .hero__wrap {
    min-height: initial;
  }

  .about {
    padding-left: 0px;
    padding-right: 0px;
  }
  .about__btn-delivery {
    display: none;
  }

  .box-head__title {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
