@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.images_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height:0;
}

.images_col {
    width: 25%;
}

.image--item {
    object-fit: cover;
    background-position: center;
    width: 100%;
}

.images > .container {
    padding: 0;
}

.images {
    
    padding-bottom: 40px;
}
/****************************************************************************************************************************/
.delivery {
    padding-bottom: 160px;
}

.delivery > .container {
    padding-left: 110px;
    padding-right: 106px;
}

.delivery__main-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.delivery__main-col {
    width: 50%;
}

.delivery__main_image {
    width: 100%;
}

.delivery__icon {
    max-width: 120px;
    margin-right: 30px;
}

.delivery__child-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    align-items: center;
}

.delivery__el-col {
    width: 100%;
}

.delivery__el-col:nth-child(1){
    padding-bottom: 50px;
}

.delivery__el-col:nth-child(2){
    padding-bottom: 50px;
}

.delivery__el-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery__item-desc {
    max-width: 405px;
    max-height: 50px;
    line-height: 25px;
    font-size: 18px;
}

/************************************************************************************/
.footer, .delivery, .images {
    background-color: black;
}

.footer__main-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-bottom: 59px;
}

.footer__main-col {
    width: 25%;
    letter-spacing: -0.36em;
    line-height: 0;
}

.footer__logo-img {
    object-fit: cover;
    max-width: 133px;
    max-height: 66px;
    letter-spacing: normal;
}

.footer__wrap {
    margin-left: 96px;
    margin-right: 100px;
}

.footer__text-tel, .footer__text-city, .footer__text-email {
    text-align: center;
    letter-spacing: normal; 
}

.footer__text-city {
    line-height: 19px;
    font-size: 14px;
}

.footer__text-email {
    line-height: 17px;
    font-size: 14px;
}

.footer__text-tel {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 23px;
    font-weight: 700;
    font-size: 19px;
    display: inline-block;
    margin-right: 9px;
}

.footer__social-icon {
    max-width: 20px;
    max-height: 20px;
    display: inline-block;
}

.footer__social-icon:nth-child(2){
    margin-right: 11px;
}

.footer__social-icon:nth-child(3){

    margin-right: 12px;
}

.footer__copyright {
    padding-bottom: 33px;
}

.footer__copyright-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.footer__copyright-col {
    letter-spacing: -0.36em;
}

.footer__copyright-col:nth-child(1)> p {
    display: inline-block;
    letter-spacing: normal;
}
.footer__copyright-col:nth-child(2)> p {
    letter-spacing: normal;
}

.footer__copyright-col:nth-child(1)> p:first-child {
    margin-right: 30px;
}

.footer__copyright-item {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 15px;
    font-size: 12px;
}

@media (max-width:376px) {
    .images_col {
        width: 100%;
        
    }
    .images_row {
        margin: 0 10px;
    }
      
    
}
