/* .about {
    background: linear-gradient(#000000, #000000);
    padding-bottom: 80px;
    padding-left: 237px;
    padding-right: 236px;
}

.box-head  {
    padding-top: 121px;
    padding-bottom: 60px;
}

.box-head__title, .box-head__caption {
    text-align: center;
    margin: 0 auto;
}


.box-head__title {
    max-width: 517px;
    font-weight: 900;
    font-size: 48px;
    line-height: 70px;
    margin-bottom: 25px;
}

.box-head__caption {
    max-width: 632px;
}

.about__row {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__col {
    flex-grow: 1;
    flex-shrink: 1;
}

.about__col:first-child {
    margin-right: 60px;
}
.about__col:nth-child(2) {
    margin-right: 60px;
}

.about__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__img {
    display: block;
    object-fit: cover;
    width: 287px;
    height: 287px;
}


.about__img-box {
    position: relative;
    padding-bottom: 40px;
}   

.about__body-text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    max-width: 262px;
}

.about__row {
    margin-bottom: 81px;
}

.about__btn-delivery {
    text-align: center;
}

 @media (max-width:1250px){

    .about  {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about__row {

        flex-direction: column;
    }
    .about__col:last-child {
        width: 100%;
    }
    .about__col:first-child {
        margin-right: 20px;
    }
    .about__col:nth-child(2) {
        margin-right: 20px;
    }
}  */